<div class="main-search-container">
<mat-toolbar class="search-all-container">
<div class ="container-fluid contentfixer">
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 search-content-center backbutton">
    <button mat-icon-button (click) ="back()"> <mat-icon>arrow_back</mat-icon></button>
  </div>
  <div class="col-8 col-sm-8 col-md-8 col-lg-8 search-content-center">
  <div class="search-container">

    <input type="text" class="searchbar" maxlength="100" [(ngModel)]="value" placeholder="Search For Movies or Series...">

  </div>
</div>
  <div class="col-2 col-sm-2 col-md-2 col-lg-2 search-content-center"></div>
</div>
</mat-toolbar>


<div class="searchresult-container">

  <mat-list role="navigation">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
      <div class ="container-fluid">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 result-img">
          <img  loading="lazy" src="https://image-resizer-cloud-api.akamaized.net/image/E320EBF0-077B-449C-B4B8-807BFF9584D2/0-3x1.jpg?width=2049">
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">

        </div>
        </div>






</div>


</div>

