<mat-toolbar></mat-toolbar>
<div class="ffmain-slider">
<swiper [slidesPerView]="1"  [loop]="true" [autoHeight]="true" [allowTouchMove]="true"
[autoplay]="{ delay: 4000, disableOnInteraction: false }" [navigation]="true" [pagination]="{ clickable: true }" >
<ng-template   swiperSlide>
  <img  src="https://image-resizer-cloud-api.akamaized.net/image/E320EBF0-077B-449C-B4B8-807BFF9584D2/0-3x1.jpg?width=2049">
  </ng-template>

<ng-template    swiperSlide>
<img src="https://image-resizer-cloud-api.akamaized.net/image/75980281-A53F-4E04-BCF0-52835AE8B565/0-3x1.jpg?width=2049">
</ng-template>

<ng-template   swiperSlide>
<img src="https://image-resizer-cloud-api.akamaized.net/image/380773BB-B3ED-418C-806D-C66186F7B927/0-3x1.jpg?width=2049">
</ng-template>
</swiper>
</div>
